/* Slide Show styles */
.slides-inner{
    display: flex;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: 1000ms;
  }
  .slide-show{
    overflow: hidden;
    position: relative;
  }